<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inventory</title>
</head>
<body>
    
    <%- include('navbar') %> 

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Update</th> 
            </tr>
        </thead>
        <tbody>
            <% inventory.forEach(item => { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.status %></td>
                    <td>
                        <form action="/inventory/<%= item.product_id %>/increase" method="POST">
                            <button type="submit">Increase</button>
                        </form>
                        
                        <form action="/inventory/<%= item.product_id %>/decrease" method="POST">
                            <button type="submit">Decrease</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <img src="/boss yvan.jpg">

</body>
</html>
